<footer>
    <!-- copyright -->
    <div>© 2020 <img src="/img/msitxpress.png" alt="" width="25px"> <a href="https://msitxpress.com">Ms IT Xpress</a> </div>
    <!-- author ( Please! Do not delete it. You are awesome! :) -->
    <div>Author:&#160; <a href="https://mehedihasan.dev" target="_blank"> Mehedi Hasan</a></div>
</footer>