<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:url" content="https://mehedihasan.dev/" />
    <meta property="og:image" content="/img/hero-personal-man.png"/>
    <meta property="og:image:secure_url" content="/img/hero-personal-man.png" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://mehedihasan.dev" />
    <title><%= title %> Mehedi Hasan | Full-Stack Web/App Developer & Programmer.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="mehedi_hasan Programmer hasan Personal Template MsITXpress" />
    <meta name="keywords" content="Mehedi Hasan,ProgrammerHasan, 'msitxpress',programmer hasan, msitxpress, Resume,01625568604, nirjoyphotography, programmerhasan" />
    <meta name="author" content="ProgrammerHasanTd6d" />
    <meta name="E-mail" content="programmerhasan04@gmail.com" />
    <meta name="Website" content="programmerhasan.com" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/hero-personal-man.png">
    <!-- color of address bar in mobile browser -->
    <meta name="theme-color" content="#3fd2e8">
    <!-- favicon  -->
    <link rel="shortcut icon" href="/img/programmerhasan-04.png" type="image/x-icon">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
            <!-- content -->
            <%- body %>
            <!-- content end -->

</div>
<!-- app end -->

</body>
</html>