# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\PhpStormProjects\Node.js-Projects\nodejs-folder-structure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
